[submodule "themes/uilite"]
	path = themes/uilite
	url = https://github.com/uicardiodev/hugo-uilite.git
[submodule "public"]
	path = public
	url = https://github.com/vlvanchin/vlvanchin.github.io.git
	branch = master
